
.Navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-gap: 1.25rem;    
    margin: 1.875rem 1.875rem;
    justify-content: center;
}
  
.Navbar h1 img {
  height: 2.18rem;  
}  
  
.Navbar ul {
  display: flex;  
  grid-gap: 1.25rem;
  font-size: 1rem;  
}
    
.Navbar-center {
  justify-content: center;
  padding: .625rem 0 .625rem 0;    
}

.Navbar-center a {
  color: #5b5b5b;
  text-decoration: none;
}

.Navbar-center a.active {
  color: #1E1E1E;    
}

.Navbar-center a:hover {
  color: #1E1E1E;  
}

.Navbar-right {
  max-width: 50%;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  
}
.iconBtn, .searchBtn {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-top: 5px;
}
.searchBox {  
  color: #1E1E1E;
  font-size: 1.8rem;
  line-height: 2rem;
  display:flex;
  flex-direction: row;
  
}

.cartStatus {
  
  color: #7d0e0e;
  font-size: 0.9rem;
  font-weight: 700; 
 
}


  