.wrapper {
    width:100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 1fr;
}

h2 {    
    text-align: center;
    line-height: 2rem;
    padding-top: 1.875rem;
}
.fig-productpage img {
    width: 100%;
    max-width: 300px;
    border-radius: 0.75rem;
    margin-top: 30px;
}
.productpage-info {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 5px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;   
}
.productpage-info dt {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.8);
    padding: 3px;  
}
.productpage-info dd {
    padding: 3px;
    line-height: 1.25rem;
}
button {
    width: 1.4rem;
    height: 1.4rem;
    text-align: center;
    font-size: 0.875rem;
}


