/* estilização para desktop */
body {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #40514e;
}
p {
  font-size: 1rem;
  color: #5b5b5b;
}
strong {
  font-weight: bold;
}

header,img {
  max-width: 100%;
}

header {
  position: relative;
}

header h2 {
  position: absolute;
  top: 70px;
  left: 70px;
  color: #40514e;
  max-width: 450px;
  line-height: 90px;
  font-size: 76px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #B6B5B5;
}

.bestsellers-section { 
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 40px;

}

.bestsellers-section p {
  text-align: justify;
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.bestsellers-section button {
  font-size: 16px;
  padding: 10px 20px 10px 5px; 
  color: #1e1e1e;
  width: 140px;
  height: 50px;
  background-color: #e4f9f5;
  border: 1px #e4f9f5;
  border-radius: 8px;
  margin: 30px;
  position: relative;
}
.bestsellers-section button a {
  text-decoration: none;
  color: #1e1e1e;
}
.bestsellers-section button img {
  position: absolute;
  top: 15px;
  right: 15px;
}

.bestsellers {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  
}
.bestsellers h3 {
  font-size: 13px;
  font-weight: 700;
  color:#1e1e1e;
}

.bestsellers img {
  border-radius: 12px;
}

.aboutus-section {
  margin: 40px;
  text-align: center;
}
.aboutus-section p {
  padding-top: 10px;
}

.aboutus-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

}
.aboutus-display img {
  max-width: 60px;
  padding-top: 55px;
  padding-bottom: 25px;
}

.aboutus-display p {
  padding-top: 10px;
  line-height: 1.2em;
  
}

.category-section {
  text-align: center;    
}

.category-section p {
  padding-top: 10px;
  padding-bottom: 60px; 
}
.category-section div {
  background-color: #e4f9f5;
}
.category-section button {
  font-size: 16px;
  padding: 10px 20px 10px 5px; 
  color: #1e1e1e;
  width: 140px;
  height: 50px;
  background-color: #fff;
  border: 1px #fff;
  border-radius: 8px;
  margin: 30px;
  position: relative;
}
.category-section button a {
  text-decoration: none;
  color: #1e1e1e;
}
.category-section button img {
  position: absolute;
  top: 15px;
  right: 15px;
}
.category-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e4f9f5; 
  grid-gap: 30px;
    
}

.category-display img {
  max-width: 250px;
  border-radius: 12px;
  margin: 10px 30px 5px 30px;  
}

.imgUp {
  padding-top: 30px;
}

.imgDown {
  padding-top: 90px;
}

.comments-section {
  margin:60px;
}
.comments-section h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color:#1e1e1e;
}
.commentZone {
  margin: 60px 100px 60px 100px;
  max-width: 100%;
  background-color: #e4f9f5;
  border-radius: 16px;
  text-align: center;
  
  }

.commentZone section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px;
    }

.commentZone img {
    max-width: 100%;    
    margin: 10px 10px 10px 10px;
    border-radius: 50px;
    
}

.commentZone p {
    line-height: 1.5rem;
    text-align: justify;
}  
.commentZone h3 {
  font-size: 1.2rem;
  text-align: center;
}




/* estilização para tablet */
@media (max-width: 780px) {
    .Navbar {
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
    .Main .topBanner {
      width: 100%;
    }
}
  
/* estilização para smartphone */
@media (max-width: 420px) {
    .Navbar {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .Main .topBanner {
      width: 100%;
    }
}  
