/* estilização para desktop */
body {
  font-family: "Poppins", sans-serif;

}

header,img {
  max-width: 100%;
}

header {
  position: relative;
}

header h2 {
  position: absolute;
  top: 70px;
  left: 70px;
  color: #40514e;
  max-width: 450px;
  line-height: 90px;
  font-size: 76px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #B6B5B5;
}

.first-section { 
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 40px;

}

.first-section p {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.first-section button {
  
}

.bestsellers {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; 
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #40514e;
}
p {
  font-size: 1rem;
  color: #808080;
}

.third-section {
  background-color: #e4f9f5;
  display: grid;
}

.third-section img {
  max-width: 30%;
}


/* estilização para tablet */
@media (max-width: 780px) {
    .Navbar {
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
    .Main .topBanner {
      width: 100%;
    }
}
  
/* estilização para smartphone */
@media (max-width: 420px) {
    .Navbar {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .Main .topBanner {
      width: 100%;
    }
}  
