/* estilização para desktop */
body {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #40514e;
}
p {
  font-size: 1rem;
  color: #5b5b5b;
}

header,img {
  max-width: 100%;
}

header {
  position: relative;
}

header h2 {
  position: absolute;
  top: 70px;
  left: 70px;
  color: #40514e;
  max-width: 450px;
  line-height: 90px;
  font-size: 76px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #B6B5B5;
}

.first-section { 
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 40px;

}

.first-section p {
  text-align: justify;
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.rectangulo {
  padding-left: 30px;  
  padding-top: 17px;
  color: #1e1e1e;
  width: 120px;
  height: 35px;
  background-color: #e4f9f5;
  border-radius: 12px;
  margin-left: 30px;
  position: relative;
}

.rectangulo a {
  text-decoration: none;
  color:#1e1e1e;
}
.rectangulo img {
  padding-top: 2px;
  padding-left: 5px;
  position: absolute;
  top: 13px;
  
}

.bestsellers {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  
}
.bestsellers h3 {
  font-size: 13px;
  font-weight: 700;
  color:#1e1e1e;
}

.bestsellers img {
  border-radius: 12px;
}

.second-section {
  margin: 40px;
  text-align: center;
}
.second-section p {
  padding-top: 10px;
}

.horizdisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

}
.horizdisplay img {
  max-width: 60px;
  padding-top: 55px;
  padding-bottom: 25px;
}

.horizdisplay h3 {
  font-weight: 700;
}
.horizdisplay p {
  padding-top: 10px;
  line-height: 1.2em;
}

.third-section {
  background-color: #e4f9f5;
  display: grid;
}

.third-section img {
  max-width: 30%;
}


/* estilização para tablet */
@media (max-width: 780px) {
    .Navbar {
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
    .Main .topBanner {
      width: 100%;
    }
}
  
/* estilização para smartphone */
@media (max-width: 420px) {
    .Navbar {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .Main .topBanner {
      width: 100%;
    }
}  
